<%= render "details" %>

<% content_for :page_header do %>
    <h1>Seleccione los modelos que desea utilizar</h1>
<% end %>

<div class="row">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-list"></i><h3 class="box-title">Lista de productos</h3>
    </div>
    <%= form_tag(models_params_path, method: "get") do %>
    <div class="box-body">
    <table>
        <tr>
            <th> Modelo </th>
            <th></th>
        </tr>
        
        <% @models.each do |model| %>
            <tr>
                <td><%= model.name %></td>
                <td><%= check_box_tag 'models[]', model.id %></td>
            </tr>
        <% end %>
    </table>
    </div>
    <div class="box-footer">
      <%= submit_tag "Seleccionar modelos" , :class => "btn btn-primary" %>
    </div>
    <% end %>
    </div>
</div>