<%= render "details" %>

<% content_for :page_header do %>
    <h1>Seleccione los modelos que desea utilizar</h1>
<% end %>

<div class="row">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-list"></i><h3 class="box-title">Modelos</h3>
    </div>
    <%= form_for @forecast_set, url: predict_select_params_path(id: params[:id]), method: "get" do |f| %>

    <div class="box-body">

    <table>
      <tr>
          <th> Modelo </th>
          <th></th>
      </tr>
      <%= f.collection_check_boxes(:model_ids, Model.all, :id, :name) do |b|%>
        <tr>
            <td><%= b.text %></td>
            <td><%= b.label { b.check_box } %></td>
        </tr>
      <% end %>
    </table>
    <p>
    
    </p>
     <div class="box-footer">
       <%= f.submit("Seleccionar modelos", :class => "btn btn-primary" ) %>
    </div>
    <% end %>

    </div>
  </div>
</div>


