<%= render "details" %>



<% content_for :page_header do %>
     <h1>Seleccionar parámetros</h1>
<% end %>

<%= form_for @forecast_set, url: new_results_path(product_id: params[:id], model_ids: params[:forecast_set][:model_ids]) do |f| %>
<div class="row">
  <div class="col col-md-8">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">
          Cantidad de datos a predecir
        </h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col col-md-8">
            <div class="form-group">
            <%= f.number_field(:forecast_amount, value: 1, min: 1, :class=>"form-control") %>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <small>*Recuerde verificar todos los modelos antes de presionar aceptar</small>
      </div>
    </div>
  </div>
</div>
  
  <br>
  <div class="col col-md-8">
  <% @forecast_set.models.each do |model| %>
<div class="row">
  <div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title"><%= model.name %></h3>
    </div>
    <div class="box-body">
      <% if !model.parameters.empty? %>
          <%  model.parameters.each do |param| %>
            <%# fields_for param.name do |p| %>
            <div class="col col-md-6">
              <div class="form-group">
                <%= f.label param.name, class:"col col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                <%= f.number_field "applied_parameters[#{param.id}]", value:1, min: 1 , :class=>"form-control" %>
                </div>
              </div>
            </div>
            <%# end %>
          <% end %>
        <% else %>
          Este modelo no tiene parámetros que puedan ser configurados.
        <% end %>
    </div>
  </div>
</div>
  <% end %>
          <div class="row center">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
              <%= submit_tag "Aceptar", :class => "btn btn-block btn-flat btn-primary" %>
            </div>
            <div class="col col-md-3"></div>
          </div>
<% end %>
